<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Latihan Vue</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap" rel="stylesheet">
    <style>
        body {
            margin: 5%;
            font-family: Quicksand;
        }

        .active {
            background-color: red;
        }
    </style>
</head>
<body>
    <div id="app">
        <router-link to="/">Home</router-link>
        <router-link to="/about">About</router-link>
        <router-link to="/kelas">Kelas</router-link>
        
        <main>
            <router-view :data="kelas" @hapuskelas="hapuskelas" @submitkelas="submitkelas"></router-view>
        </main>

        <footer-component></footer-component>

        
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uuid/8.1.0/uuidv4.min.js"></script>

    <script>
        const radio = document.querySelectorAll("#quis")
        radio.forEach(item => {
            if (item.value == "1") {
                item.checked = true
            }
        })

        const Home = {
            template: `
                <div>
                    <h2>Home</h2>
                </div>
            `
        }

        const About = {
            template: `
                <div>
                    <h2>About</h2>
                </div>
            `
        }

        const NotFound = {
            template: `
                <div>
                    <h2>Halaman Tidak ditemukan</h2>
                </div>
            `
        }

        const footer = {
            template: `
                <footer>
                    <p>Copyright - 2021</p>
                </footer>
            `
        }

        const Kelas = {
            props: ['data'],
            template: `
                <div>
                    <h2>Tambah Kelas</h2>
                    <form @submit.prevent="submitkelas">
                        <p>
                            <input type="text" placeholder="Nama Kelas" v-model="kelas.judul">
                            <div class="error" v-if="error.judul"><small>{{ error.judul }}</small></div>
                        </p>
                        <p>
                            <textarea name="" id="" cols="30" rows="10" v-model="kelas.deskripsi"></textarea>
                            <div class="error" v-if="error.deskripsi"><small>{{ error.deskripsi }}</small></div>
                        </p>
                        <p>
                            <input type="file" ref="gambar" @change="uploadgambar">
                        </p>
                        <p><img :src="previewgambar" v-if="previewgambar" alt="" width="200"></p>
                        <button type="submit">Submit</button>
                    </form>
                    <hr>
                    <h1 v-if="data.length > 0">Kelas yang Anda Ikuti:</h1>
                    <ul v-if="data.length > 0">
                        <ol v-for="(k, i) of data">
                            <img :src="'image/' + k.gambar" />
                            <p>
                                {{ i+1 }} - {{ k.judul }} <a href="#" @click.prevent="$emit('hapuskelas', k.id)">Hapus</a>
                            </p>
                        </ol>
                    </ul>
                    <h3 v-else>Belum ada Kelas yang Anda Ikuti</h3>
                </div>
            `,
            data: 
                function() {
                    return {
                        kelas: {
                            judul: "",
                            deskripsi: "",
                            gambar: null
                        },
                        previewgambar: "",
                        error: {
                            judul: "",
                            deskripsi: ""
                        }
                    }
                }
            ,
            methods: {
                submitkelas: function() {
                    this.error.judul = "";
                    this.error.deskripsi = "";
                    if (this.kelas.judul === "") {
                        this.error.judul = "Judul is required";
                    } 
                    if (this.kelas.deskripsi == "") {
                        this.error.deskripsi = "Deskripsi is required";
                    } 
                    if (this.kelas.judul && this.kelas.deskripsi){
                        data = {
                            id: uuidv4(),
                            judul: this.kelas.judul,
                            deskripsi: this.kelas.deskripsi,
                            gambar: this.kelas.gambar
                        }
                        this.$emit('submitkelas', data);
                        this.kelas.judul = "";
                        this.kelas.deskripsi = "";
                        this.previewgambar = "";
                        this.$refs.gambar.value = "";
                    }
                },
                uploadgambar: function(event) {
                    this.previewgambar = URL.createObjectURL(event.target.files[0]);
                    this.kelas.gambar = event.target.files[0].name;
                }
            },
        }
        
        Vue.component('header-component', {
            template: `
                <header>
                    <a href="#" :class="{active: menu ==='home'}" @click.prevent="setMenu('home')">Home</a>
                    <a href="#" :class="{active: menu ==='about'}" @click.prevent="setMenu('about')">About</a>
                    <a href="#" :class="{active: menu ==='login'}" @click.prevent="setMenu('login')">Login</a>
                    <h1>Belajar Dasar Vue JS 2</h1>
                    <p>The Progressive Javascript Framework</p>
                    <br>
                </header>   
            `,
            data: 
                function() {
                    return {
                        menu: 'home',
                        active: "active"
                    }
                }
            ,
            methods: {
                setMenu: function(newMenu) {
                    this.menu = newMenu;
                }
            }
        })

        const routes = [
            { path:'/', component: Home},
            { path:'/about', component: About},
            { path:'/kelas', component: Kelas},
            { path:'*', component: NotFound},
        ]

        const router = new VueRouter({
            mode: 'history',
            routes,
        })

        const vm = new Vue({
            el: '#app',
            router,
            components: {
                'footer-component': footer
            },
            data: {
                kelas: [
                    {id:1, judul:'React', deskripsi:'', gambar:'react.png'},
                    {id:2, judul:'Angular', deskripsi:'', gambar:'angular.jpg'},
                    {id:3, judul:'Vue', deskripsi:'', gambar:'vue.png'},
                ]
            },
            methods: {
                hapuskelas: function(id) {
                    console.log(id);
                    this.kelas = this.kelas.filter(item => item.id != id);
                },
                submitkelas: function(data) {
                    this.kelas.push(data);
                }
            }
        })

    </script>
</body>
</html>