<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Latihan Vue</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap" rel="stylesheet">
    <style>
        body {
            margin: 5%;
            font-family: Quicksand;
        }

        .active {
            background-color: red;
        }
    </style>
</head>
<body>
    <div id="app">
        <header-component></header-component>
        
        <main>
            <kelas :data="kelas" @hapuskelas="hapuskelas"></kelas>
        </main>

        <footer-component></footer-component>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>

        const footer = {
            template: `
                <footer>
                    <p>Copyright - 2021</p>
                </footer>
            `
        }
        
        Vue.component('header-component', {
            template: `
                <header>
                    <a href="#" :class="{active: menu ==='home'}" @click.prevent="setMenu('home')">Home</a>
                    <a href="#" :class="{active: menu ==='about'}" @click.prevent="setMenu('about')">About</a>
                    <a href="#" :class="{active: menu ==='login'}" @click.prevent="setMenu('login')">Login</a>
                    <h1>Belajar Dasar Vue JS 2</h1>
                    <p>The Progressive Javascript Framework</p>
                    <br>
                </header>   
            `,
            data: 
                function() {
                    return {
                        menu: 'home',
                        active: "active"
                    }
                }
            ,
            methods: {
                setMenu: function(newMenu) {
                    this.menu = newMenu;
                }
            }
        })

        Vue.component('kelas', {
            props: ['data'],
            template: `
                <div>
                    <h2>Tambah Kelas</h2>
                    <input type="text" @keyup.enter="enterHandling">
                    <input type="checkbox" name="" id="" v-model="data" value="React">React
                    <input type="checkbox" name="" id="" v-model="data" value="Angular">Angular
                    <input type="checkbox" name="" id="" v-model="data" value="Vue">Vue
                    <hr>
                    <h1 v-if="data.length > 0">Kelas yang Anda Ikuti:</h1>
                    <ul v-if="data.length > 0">
                        <ol v-for="(k, i) of data">{{ i+1 }} - {{ k }} <a href="#" @click.prevent="$emit('hapuskelas', i)">Hapus</a></ol>
                    </ul>
                    <h3 v-else>Belum ada Kelas yang Anda Ikuti</h3>
                </div>
            `,
            data: 
                function() {
                    return {
                        
                    }
                }
            ,
            methods: {
                enterHandling: function(e) {
                    let newClass = e.target.value;
                    this.kelas.push(newClass);
                    console.log(this.kelas)
                    e.target.value = "";
                }
            },
        })

        const vm = new Vue({
            el: '#app',
            components: {
                'footer-component': footer
            },
            data: {
                kelas: ['React', 'tes', 'tes']
            },
            methods: {
                hapuskelas: function(index) {
                    this.kelas.splice(index, 1);
                    console.log(this.kelas);
                }
            }
        })

    </script>
</body>
</html>